<footer>
<hr>
    CST336 Internet Programming. &copy;2019 Pettit<br/>
    <strong>Disclaimer:</strong> The information on this webpage is fictitious.<br/>
    It is used for academic purposes only.<br/><br/>
    
    <%= fakeword1 %> <%= fakeword2 %> 
    <%= fakeword3 %> <%= fakeword4 %> <%= fakeword5 %> 
    <%= fakeword6 %> <%= fakeword7 %> 
     
</footer>
</body>
</html> 